# https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package

# tests
.scannerwork
__tests__
coverage
jest.config.json
sonar-project.properties
test

# build tools
.codeclimate.yml
.jenkins.yml
.travis.yml
appveyor.ymml
codecov.yml

# linters
.eslintrc*
.jscsrc
.jshintrc

# editor settings
.idea
.editorconfig

# misc. assets
.all-contributorsrc
.assets
.github
docs
